*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  cursor: default;
  margin: 0;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-variant-ligatures: no-common-ligatures;
  font-feature-settings: "kern", "liga" 0, "clig" 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
